<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    body { background-color:bisque;}
  </style>
  <title>{{ title }}</title>
</head>
<body>
  {{{ body  }}}
</body>
</html>