

<h1>{{ title }}</h1>
<p>Welcome to color {{ title }}</p>
<form action="/game/guessColor" method="post">
  <div class="input">
    <label for="id">Name</label>
    <input type="text" id="id" name ="id">
    
  </div>
  <button type="submit">Start Game</button>
</form>